<div class="ui segment" id="re">
  <div class="ui form">
    <h2 >Login</h2>
    <%= form_for(:session, url: login_path) do |f| %>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert #{name}" %>
      <% end -%>
      <div class="three fields">
        <div class="field">
          <%= f.label :email, "Email" %>
        </div>
        <div class="field">
          <%= f.label :password %>
        </div>
        <div class="field">
        </div>
      </div>
      <div class="three fields" style="">
        <div class="field">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
        <div class="field">
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        </div>
        <div class="field">
          <%= f.submit "Đăng nhập", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Nhớ mật khẩu</label>
      </div>
    <% end %>
  </div>
</div>
