<div class="col-md-3">
    <div class="profile-info" style="text-align:center;">
      <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
      <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
      <p class="text-muted">Creative Director</p>
    </div>
  <!--Edit Profile Menu-->
  <ul class="edit-menu">
    <li class="active"><i class="icon info"></i><a href="/users/<%= current_user.id %>/">Basic Information</a></li>
    <li><i class="icon briefcase"></i><a href="">Education and Work</a></li>
    <li><i class="icon heart"></i><a href="">My Interests</a></li>
    <li><i class="icon settings"></i><a href="">Account Settings</a></li>
    <li><i class="icon lock"></i><a href="">Change Password</a></li>
  </ul>
</div>
