
  <div class="suggestions" id="sticky-sidebar">
    <h4 class="grey">Who to Follow</h4>
    <div class="follow-user">
      <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-right-nf" />
      <div>
        <h6><a href="timeline.html">Diana Amber</a></h6>
        <a href="#" class="text-green "> <i class="icon plus"></i> Add friend</a>
      </div>
    </div>
    <div class="follow-user">
      <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-right-nf" />
      <div>
        <h6><a href="timeline.html">Cris Haris</a></h6>
        <a href="#" class="text-green "> <i class="icon plus"></i> Add friend</a>
      </div>
    </div>
    <div class="follow-user">
      <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-right-nf" />
      <div>
        <h6><a href="timeline.html">Brian Walton</a></h6>
        <a href="#" class="text-green "> <i class="icon plus"></i> Add friend</a>
      </div>
    </div>
    <div class="follow-user">
      <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-right-nf" />
      <div>
        <h6><a href="timeline.html">Olivia Steward</a></h6>
        <a href="#" class="text-green "> <i class="icon plus"></i> Add friend</a>
      </div>
    </div>
    <div class="follow-user">
      <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-right-nf" />
      <div>
        <h6><a href="timeline.html">Sophia Page</a></h6>
        <a href="#" class="text-green "> <i class="icon plus"></i> Add friend</a>
      </div>
    </div>
  </div>
