
  <div class="profile-card">
    <img src="http://placehold.it/300x300" alt="user" class="profile-photo" />
    <h5><a href="/users/<%= current_user.id %>" class="text-white"><%= current_user.first_name %></a></h5>
    <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
  </div><!--profile card ends-->
  <ul class="nav-news-feed">
    <li><i class="newspaper icon"></i><div><a href="newsfeeds">My Newsfeed</a></div></li>
    <!-- <li><i class="icon users"></i><div><a href="newsfeed-people-nearby.html">People Nearby</a></div></li> -->
    <li><i class="icon users"></i><div><a href="#">Friends</a></div></li>
    <li><i class="icon comments"></i><div><a href="#">Messages</a></div></li>
    <li><i class="icon images"></i><div><a href="/list_image" id="show_images">Images</a></div></li>
    <li><i class="icon video"></i><div><a href="/list_video">Videos</a></div></li>
  </ul><!--news-feed links ends-->
