<div class="col-md-2 static"  style="padding-top:15px;">

  <!--Sticky Timeline Activity Sidebar-->
  <div id="sticky-sidebar">
    <b><h6 class="grey"><%= current_user.first_name %>'s activity</h6></b>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link"><%= current_user.first_name %></a> Commended on a Photo</p>
        <p class="text-muted">5 mins ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link"><%= current_user.first_name %></a> Has posted a photo</p>
        <p class="text-muted">an hour ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link"><%= current_user.first_name %></a> Liked her friend's post</p>
        <p class="text-muted">4 hours ago</p>
      </div>
    </div>
    <div class="feed-item">
      <div class="live-activity">
        <p><a href="#" class="profile-link"><%= current_user.first_name %></a> has shared an album</p>
        <p class="text-muted">a day ago</p>
      </div>
    </div>
  </div>
</div>
