<script>
  $(function(){
    getRestration();

  });

  function IsEmail(email) {
    var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if(!regex.test(email)) {
      return false;
    }else{
      return true;
    }
  };
function IsLetters(name){
    var letters = /^[a-z][a-z\s]*$/i;

    if(!letters.test(name)){
      return false;
    }else{
      return true;
    }
  };

  function getRestration(){
    $('.error').hide();
    $("#message").hide();
  $("#create-submit").click(function(e){
     e.preventDefault();

     var first_name = $(".first_name").val();
     var last_name = $(".last_name").val();
     var email = $(".email").val();
     var password = $(".password").val();
     var password_confirmation = $(".password_confirmation").val();
     var birth = $(".birth").val();
     var sex = $(".sex:checked").val();

     var isError = false;

    if(first_name.length == 0 || first_name.length > 32){

          $('.first_name').css({"border-color":"#C00000"});
          isError = true;
        }else{
          $(".first_name").blur(function(){
             $('.first_name').css({"border-color":""});
          })

        }

      if(last_name.length == 0 || last_name.length > 32) {
          $('.last_name').css({"border-color":"#C00000"});
          isError = true;
        }else{
           $('.last_name').css({"border-color":""});
        }

      if(IsLetters(first_name)==false){
         $('.first_name').css({"border-color":"#C00000"});
        isError = false;
      }else{
        $('.first_name').css({"border-color":""});
      }

      if(IsLetters(last_name)== false){
         $('.last_name').css({"border-color":"#C00000"});
        isError = false;
      }else{
         $('.last_name').css({"border-color":""});
      }

     if(email== '' || IsEmail(email)==false){
          $('.email').css({"border-color":"#C00000"});
          isError = true;
        }else{
           $('.email').css({"border-color":""});
        }

      if(password.length < 6 || password.length > 32){
         $('.password').css({"border-color":"#C00000"});
         isError = true;
      }
      else{
         $('.password').css({"border-color":""});
      }
      if(password != password_confirmation){
        $('.password_confirmation').css({"border-color":"#C00000"});
        isError = true;
      }else{
         $('.password_confirmation').css({"border-color":""});
      }
      if(birth == ""){
         $('.birth').css({"border-color":"#C00000"});
         isError = true;
      }else{
         $('.birth').css({"border-color":""});
      }

    if (isError) return;


    $.ajax({
       type: "post",
       url: "/registration",
       dataType: "json",
       headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content'), // Optional
        'Content-Type': 'application/json'
       },
       data: JSON.stringify({
         first_name: first_name,
         last_name: last_name,
         email: email,
         password: password,
         password_confirmation: password_confirmation,
         birth: birth,
         sex: sex
       }),
       success: function(datas, status){
         $("#message").show();
       },
        error:  function(error){

          var response = error.responseJSON;

          

        }

     });
     e.preventDefault();
  });

};

</script>

<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-2 text" style="text-align: center;" >
                    <h1><strong style="color: #2990C3;">Socify</strong> Login &amp; Register Forms</h1>
                    <div class="description">
                      <p>
                        Top social networking community in Vietnam - It's free and will always be.
                      </p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-5">

                  <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Login to our site</h3>
                          <p>Enter username and password to log on:</p>
                      </div>
                      <div class="form-top-right">
                        <i class="lock icon"></i>
                      </div>
                      </div>
                      <div class="form-bottom">
                    <%= form_for(@user , as: :session, url: login_path) do |f| %>
                      <% flash.each do |name, msg| -%>
                        <%= content_tag :div, msg, class: "alert #{name}" %>
                      <% end -%>
                      <div class="form-group" data-tooltip="Email Unique email and Correct format" data-position="right center">
                        <label class="sr-only" for="form-email">Email</label>
                        <%= f.email_field :email, class: "form-control", placeholder: "Email", :required =>'required' %>
                        </div>
                        <div class="form-group" data-tooltip="Password min 6 and max 32 characters" data-position="right center">
                          <label class="sr-only" for="form-password">Password</label>
                          <%= f.password_field :password, class: "form-control", placeholder: "Password" , :required =>'required', :maxlength => 32 ,:minlength => 6 %>
                        </div><div class="form-group" >
                          <button type="submit"  class="btn btn-primary">Login</button>
                        </div>
                          <%= link_to "Forget the password",class:"item"%>

                    <% end %>
                  </div>
                </div>

                  <%# <div class="social-login">
                      <h3>...or login with:</h3>
                      <div class="social-login-buttons">
                        <a class="btn btn-link-1 btn-link-1-facebook" style="	padding: 16px 20px 0 20px; margin:2px;" href="#">
                          <i class="facebook icon"></i> Facebook
                        </a>
                        <a class="btn btn-link-1 btn-link-1-twitter"style="	padding: 16px 20px 0 20px; margin:2px;" href="#">
                          <i class="twitter icon"></i> Twitter
                        </a>
                        <a class="btn btn-link-1 btn-link-1-google-plus" style="	padding: 16px 20px 0 20px; margin:2px;" href="#">
                          <i class="google icon"></i> Google Plus
                        </a>
                      </div>
                    </div> %>

              </div>
              <!-- Begin Register --->
                <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                  <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Sign up now</h3>
                          <p>Fill in the form below to get instant access:</p>
                      </div>
                      <div class="form-top-right">
                        <i class="pencil icon"></i>
                      </div>
                  </div>
                  <div class="form-bottom">
                    <form>
                      <div class="form-group" data-tooltip="First name not null or length over 32 characters" data-position="left center">
                        <label class="sr-only" for="form-first-name">First name</label>
                          <input type="text" class="first_name form-first-name form-control" id="first_name form-first-name" placeholder="First name..." />
                      </div>
                      <div class="form-group" data-tooltip="Last name not null or length over 32 characters" data-position="left center">
                        <label class="sr-only" for="form-last-name">Last name</label>
                        <input type="text" class="last_name form-last-name form-control" id="last_name form-last-name" placeholder="Last name..."/>
                      </div>
                      <div class="form-group" data-tooltip="Email Unique email and Correct format" data-position="left center">
                        <label class="sr-only" for="form-email">Email</label>
                        <input type="email" class="email form-email form-control" id="email form-email" placeholder="Email">
                        <p id="errorse" class="errorse"></p>
                      </div>
                      <div class="form-group" data-tooltip="Password min 6 and max 32 characters" data-position="left center">
                        <label class="sr-only" for="form-password">Password</label>
                         <input type="password" class="password form-password form-control" id="password form-password" placeholder="Password">
                      </div>
                      <div class="form-group" data-tooltip="Confirm password" data-position="left center">
                        <label class="sr-only" for="form-password-confirm">Password Confirm</label>
                        <input type="password" class="password_confirmation form-password-confirm form-control" id="password_confirmation form-password-confirm" placeholder="Password Confirm" >
                      </div>
                      <div class="form-group" data-tooltip="Birthday not null" data-position="left center">
                        <label class="sr-only" for="form-birth">Birth</label>
                         <input type="date" class="birth form-birth form-control" id="birth form-birth">
                      </div>
                      <div class="form-group" style="padding-left: 10px;">
                        <label for="fruit">Sex</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                              <input type="radio" name="sex" checked="" value="0" class="hidden sex">
                              <label>Male</label>
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="ui radio checkbox">
                            <input type="radio" name="sex" value="1" class="hidden sex">
                            <label>Female</label>
                          </div>
                        </div>
                      </div>
                      
                      <h5 id="message" class="ui red message">Please check email </h5>
                      <div class="inline field">
                      </div>
                      <button type="submit" id="create-submit" class="btn btn-primary">Sign me up!</button>
                    </form>
                  </div>
                  </div>
                </div>
              <!-- End Register --->

            </div>
        </div>
    </div>
</div>
