<div class="container">
  <div class="timeline">
    <div id="page-contents">
      <div class="row">
        <!-- Left content User infor  -->
        <%= render "partials/left_content_user" %>
        <!-- Content User infor  -->
        <div class="col-md-7">
          <!-- Basic Information
          ================================================= -->
          <%= form_for @user do |f| %>
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
            <div class="edit-profile-container">
              <div class="edit-block">
                <h4 class="grey" style="padding-top:10px;"><i class="icon user"></i>Basic information</h4>

                  <div class="row" style="padding-top:15px;" >
                    <div class="block-title">
                      <h4 class="grey"><i class="icon info"></i>About</h4>
                    </div>
                  </div>
                  <div class="row edit-about">
                    <div class="col-md-10">
                      <label for="my-info"><%= current_user.introduction %></label>
                    </div>
                    <div class="col-md-2">
                      <a href="/users/<%= current_user.id %>/edit"><i class="pencil icon"></i>Edit</a>
                    </div>
                    <div class="line-divider" style="color: #CCCCCC;"></div>
                  </div>

                  <div class="row">
                    <div class="block-title">
                      <h4 class="grey"><i class="icon mail"></i>Contact</h4>
                    </div>
                  </div>
                  <div class="row edit-about">
                    <div class="col-md-10">
                      <label for="email">Email : <%= current_user.email %></label>
                    </div>
                    <div class="line-divider" ></div>
                  </div>

                  <div class="row">
                    <div class="block-title">
                      <h4 class="grey"><i class="icon birthday"></i>Birthday</h4>
                    </div>
                  </div>
                  <div class="row edit-about">
                    <div class="col-md-10">
                      <label for="birth">Birthday : <%= current_user.birth %></label>
                    </div>
                    <div class="col-md-2">
                      <a href="/users/<%= current_user.id %>/edit"><i class="pencil icon"></i>Edit</a>
                    </div>
                    <div class="col-md-10">
                       <% if  @user.sex == 0 %>
                         <span>I am a : Male </span>
                        <% else %>
                         <span>I am a : Female </span>
                       <% end %>
                       <div class="line-divider" ></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="block-title">
                      <h4 class="grey"><i class="icon home"></i>Live in</h4>
                    </div>
                  </div>
                  <div class="row edit-about">
                    <div class="col-md-10">
                      <label for="city"> City : <%= current_user.city %></label>
                    </div>
                    <div class="col-md-2">
                      <a href="/users/<%= current_user.id %>/edit"><i class="pencil icon"></i>Edit</a>
                    </div>
                    <div class="col-md-10">
                      <label for="city"> Country : <%= current_user.country %></label>
                      <div class="line-divider" ></div>
                    </div>
                    <div class="col-md-10">
                      <label typr="date"> Join Socify : <%= time_ago_in_words(current_user.created_at) %> ago</label>
                      <div class="line-divider" ></div>
                    </div>
                  </div>
                <!-- </form> -->
              </div>
            </div>
          <% end %>

        </div>
        <!-- Right content User infor  -->
        <%= render "partials/right_content_user" %>
        </div>
      </div>
    </div>
  </div>
</div>
