@import "semantic-ui";
@import "users";
@import 'posts';
@import 'bootstrap';

.er{
  border-color: red;
}
html, body {
  height: 100%;
  width: 100%;
}

body{
  background: #E9EBEE;
	font-family: 'Lato', sans-serif;
  line-height: 26px;
	color: #6d6e71;
	font-size: 13px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
/*==================================================
  Typography
  ==================================================*/

@font-face {
    font-family:"Agency FB";
    src: url("../fonts/agency-fb.eot") /* EOT file for IE */
}
@font-face {
    font-family:"Agency FB";
    src: url("../fonts/agency-fb.ttf") /* TTF file for CSS3 browsers */
}

h1, h2, h3, h4, h5, h6{color: #27aae1;}

h1.grey, h2.grey, h3.grey, h4.grey, h5.grey, h6.grey{
  color: #6d6e71;
  margin: 0 auto 20px;
}

.text-white{color: #fff;}

.text-white:hover{color: #fff;}

.text-green{color: #8dc63f;}

.text-green:hover{color: #39b54a;}

.text-red{color: #ef4136;}

.text-red:hover{color: #d6100b;}

.text-black{color: #6D6E71;}

.text-black:hover{color: #4267B2;}

.text-like{color: #6D6E71;}

.text-like:hover{color: #ef4136;}

.profile-link{font-weight: 600;}

.text-muted{color: #939598;}

a{color: #27aae1;}

a:hover{color: #149AC9;}

a, a:active, a:focus {outline: none;}

section h1.section-title{
	font-family: 'Agency FB', sans-serif;
	font-size: 215px;
	color: #E6E7E8;
	margin-bottom: -55px;
}

section h2.sub-title{
	font-family: 'Agency FB', sans-serif;
	color: #E6E7E8;
	font-size: 50px;
	margin: 40px 0;
}


.following{
  color: #8dc63f;
  font-size: 12px;
  margin-left: 20px;
}


/*==================================================
  Common
  ==================================================*/

.container{
  max-width: 1050px;
}

section .wrapper{
	padding-top: 100px;
	padding-bottom: 100px;
}

#page-contents{
  padding: 10px 0 50px;
  min-height:980px;

}

.btn-primary{
	background: #27aae1;
	padding: 7px 25px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
	position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px;
}

.btn-primary:hover{
  background: #149AC9;
  transition: all 1s;
}

.btn-secondary{
	background: linear-gradient(to bottom, rgba(109,110,113,1), rgba(0,0,0,1));
	padding: 0 40px;
	border: none;
	min-height: 36px;
	font-size: 18px;
	border-radius: 6px;
	color: #fff;
	position: relative;
  outline: none;
}

.btn-secondary:hover{
	background: #000;
  transition: all 1s;
}

section img{
	margin: auto;
}

img.profile-photo{
  height: 58px;
  width: 58px;
  border-radius: 50%;
}

img.profile-photo-lg{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

img.profile-photo-md{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

img.profile-photo-sm{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

img.profile-photo-xs{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.img-wrapper{
  position: relative;
}

.img-wrapper::after{
  content: "";
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s ease 0s;
}

.img-wrapper:hover:after{
  background-color: rgba(0,0,0, 0.4);
}

ul{
  padding-left: 15px;
}

.line{
  background: #f1f2f2;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.line-divider{
  background: none;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

.map{
  width: 100%;
  height: auto;
  border: none;
}

.static{
  position: static;
}

textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.custom-label{
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.form-control{
  background: #fff;
  border: 1px solid #f1f2f2;
  box-shadow: none;
  border-radius: 4px;
  color: #939598;
  width: 100% !important;
}


/*==================================================
  Header
  ==================================================*/

#header{
  min-height: 50px;
  z-index: 99;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
.menu{
  background: #231F20;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.menu-header h3 {
  color: #00ADE1!important;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size:180%;
}
.button-radio {
  margin-left: 10px;
  line-height: inherit;
}
.menu form{
    margin: 2px 12px -14px 0px;
  }

.menu form .form-group{
  position:relative;
}

.menu form .form-group i.icon{
  position: absolute;
  left: 15px;
  // top: 3px;
  color: #fff;
}

.menu form .form-group input.form-control{
  background: rgba(255,255,255, 0.2);
  border: 0;
  box-shadow: none;
  min-width: 235px;
  color: #fff;
  height: 26px;
  border-radius: 13px;
  font-size: 13px;
  padding-left: 30px;
}

.menu ul.main-menu li a{
  line-height: 26px;
  display: inline-block;
}

.menu ul.main-menu li.dropdown a{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding-left: 15px;
}

.menu ul.main-menu li.dropdown a:hover, .menu ul.main-menu li.dropdown a:active, .menu ul.main-menu li.dropdown a:focus{
  color: #27aae1;
  background: none;
}

.menu ul.main-menu li.open a, .menu ul.main-menu li.open a:active, .menu ul.main-menu li.open a:focus{
  background: transparent;
  color: #27aae1;
}

.menu ul.main-menu li ul.dropdown-menu{
  background: #231F20;
  box-shadow: none;
  border: 0;
  padding: 0;
}

.menu ul.main-menu li ul.dropdown-menu li{
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(255,255,255, 0.1)
}

.menu ul.main-menu li ul.dropdown-menu li a, .menu ul.main-menu li.open ul.dropdown-menu li a{
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

.menu ul.main-menu li ul.dropdown-menu li a:hover, .menu ul.main-menu li.open ul.dropdown-menu li a:hover{
  color: #e6e6e6;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: 0;
}

/*For Homepage Header | Display on Scroll*/

#header.lazy-load{
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  transition: .5s ease-in-out;
  transform: translateY(-50px);
  z-index: 99999;
}
#header.lazy-load.visible{
  visibility: visible;
  transform: translateY(0);
}


/*Transparent Background Header for Landing Page-2*/

#header-inverse nav.menu{
  background: transparent;
  margin-top: 15px;
  z-index: 1030;
}

#header-inverse .menu ul.main-menu li ul.dropdown-menu{
  border-radius: 4px;
  position: absolute;
}

#header-inverse .menu ul.main-menu li ul.dropdown-menu::before{
  content: "";
	display: block;
	position: absolute;
	right: 20px;
	bottom: 100%;
	width: 0;
	height: 0;
	border-bottom: 10px solid #231F20;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}


/*==================================================
  Homepage Top Banner
  ==================================================*/

#banner{
	background: url("http://placehold.it/1920x900") fixed no-repeat;
  background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 550px;
	position: relative;
	top: 0;
}

/*==================================================
  Homepage Signup Form
  ==================================================*/

.sign-up-form{
  background: linear-gradient(to bottom, rgba(43,57,144,.8), rgba(39,170,225,1) 65%);
  position: absolute;
  width: 340px;
  min-height: 600px;
  top: 0;
  padding: 40px 30px;
  text-align: center;
  color: #fff;
  z-index: 1000;
}

.sign-up-form:after{
  content: "";
  border-color: #27aae1 transparent transparent;
  border-style: solid;
  border-width: 40px 170px 0;
  bottom: -40px;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.sign-up-form h2{
  font-family:'Agency FB', sans-serif;
  margin: 100px 0 20px;
}

.sign-up-form .line-divider{
  background: none;
  height: 1px;
  border-top: 1px solid rgba(255, 255, 255, .20);
  width: 180px;
  margin: auto;
  margin-bottom: 10px;
}

.sign-up-form .form-wrapper{
  padding: 20px 20px 0;
  border: 1px solid rgba(255, 255, 255, .2);
  border-top: none;
  margin-bottom: 30px;
}

.sign-up-form .form-wrapper .signup-text{
  font-size: 15px;
}

.sign-up-form .form-wrapper .form-group{
  margin-bottom: 10px;
  width: 100%;
}

.sign-up-form .form-wrapper .form-group .form-control{
  border: none;
  box-shadow: none;
  border-radius: 17px;
  padding-left: 20px;
}

.sign-up-form .form-wrapper button{
  position: relative;
  top: 20px;
  border-radius: 17px;
}

.sign-up-form a{
  color: #fff;
}

.sign-up-form img.form-shadow{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 100%;
}


/*==================================================
  Features Section
  ==================================================*/

#features{
	background: #EFEFEF;
	background: radial-gradient(#fff 50%, #EFEFEF 90%);
	background: -moz-radial-gradient(#fff 50%, #EFEFEF 90%);
	background: -webkit-radial-gradient(#fff 50%, #EFEFEF 90%);
	background: -o-radial-gradient(#fff 50%, #EFEFEF 90%);
	text-align: center;
}

#features .feature-item .feature-icon{
  background: linear-gradient(to bottom, rgba(43,57,144,.8), rgba(39,170,225,.8) 65%), url("../images/blur.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  margin: auto;
  border: 6px solid #fff;
  box-shadow: 0 12px 12px rgba(39, 170, 225, 0.3);
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  line-height: 100px;
}

#features .feature-item .feature-icon:hover{
  background: #27aae1;
  transition: all 1s;
}

#features .feature-item h3{
  font-family: 'Agency FB', sans-serif;
  color: #939598;
}

#incremental-counter .num {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #27aae1;
  display: inline-block;
  height: 64px;
  line-height: 62px;
  margin: 0 4px 20px;
  position: relative;
  left: -1px;
  text-align: center;
  width: 50px;
  font-size: 45px;
  font-size: 3.72625em;
  font-weight: normal;
  font-family: 'Agency FB', sans-serif;
}
#incremental-counter .num::before {
  background: #00aae6;
  content: "";
  display: block;
  height: 1px;
  left: -1px;
  margin: -0.5px 0 0;
  position: absolute;
  right: -1px;
  top: 50%;
  width: auto;
}

#features img.face-map{
  margin: 0 auto -250px;
}


/*==================================================
  Newsfeed Left Sidebar
  ==================================================*/

/*Profile Card CSS*/

.profile-card{
  background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8)), url("http://placehold.it/1030x430") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 90px;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  margin-bottom: 40px;
}

.profile-card img.profile-photo{
  border: 7px solid #fff;
  float: left;
  margin-right: 20px;
  position: relative;
  top: -30px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

/*Newsfeed Links CSS*/

ul.nav-news-feed{
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0 40px 0;
}

ul.nav-news-feed li{
  list-style: none;
  display: block;
  padding: 15px 0;
}

ul.nav-news-feed li div{
  position: relative;
  margin-left: 30px;
  }

ul.nav-news-feed li div::after{
  content: "";
  width: 100%;
  height: 1px;
  border-top: 1px solid #f1f2f2;
  position: absolute;
  bottom: -15px;
  left: 0;
}

ul.nav-news-feed li a{color: #6d6e71;}

ul.nav-news-feed li i{
  font-size: 18px;
  margin-right: 15px;
  float: left;
}

ul.nav-news-feed i.newspaper{color: #8dc63f;}

// ul.nav-news-feed i.users{color: #662d91;}

ul.nav-news-feed i.users{color: #ee2a7b;}

ul.nav-news-feed i.comments{color: #f7941e;}

ul.nav-news-feed i.images{color: #1c75bc;}

ul.nav-news-feed i.video{color: #9e1f63;}

/*Chat Block CSS*/

#chat-block{
  margin: 0 0 40px 0;
  text-align: center;
}

#chat-block .title{
  background: #8dc63f;
  padding: 2px 20px;
  width: 70%;
  height: 30px;
  border-radius: 15px;
  position: relative;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

ul.online-users{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}

ul.online-users li{
  list-style: none;
  position: relative;
  margin: 3px auto !important;
  padding-left: 3px;
  padding-right: 3px;
}

ul.online-users li span.online-dot{
  background: linear-gradient(to bottom, rgba(141,198,63, 1), rgba(0,148,68, 1));
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  border: 2px solid #fff;
  left: 0;
  right: 0;
  margin: auto;
}

/*==================================================
  Newsfeed Right Sidebar
  ==================================================*/

.suggestions.affix{
  position:fixed !important;
}

.follow-user{
  margin-bottom: 20px;
}

.follow-user div{
  margin-left: 50px;
  position: relative;
}

.follow-user div::after{
  content: "";
  background: none;
  border-top: 1px solid #f1f2f2;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10px;
}
.pull-right-nf{
  float: left !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
/*==================================================
  Create Post Box CSS
  ==================================================*/
.btn-post{
  // display: inline-block !important;
  padding:20px;
  // width: 100%;
}
.lb-post{
  padding-left:65px;
  padding-top: 4px;
}
.lb-post i
{
  padding-right: 32px;
  font-size: 18px;
}
.lb-post i:hover
{
  color: #5BB6D7;
}
.create-post{
  width: 100% ;
  min-height: 90px;
  padding: 20px 0px 0px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
}

.create-post .form-group{
  margin-bottom: 0;
  display: inline-flex;
}

.create-post .form-group .form-control{
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.create-post .form-group img.profile-photo-md{
  margin-right: 10px;
}

.create-post .tools{
  padding: 8px 0 10px;
}

.create-post .tools ul.publishing-tools{
  display: inline-block;
  text-align:left;
  margin: 0;
  margin-left: 60px;
  padding:5px 0;
}
.create-post .tools ul.publishing-tools li{
  display: inline-block;
}
.create-post .tools ul.publishing-tools li a{
  color: #6d6e71;
  font-size: 18px;
}

.create-post .tools ul.publishing-tools li a:hover{
  color: #27aae1;
}
.create-post .tools button{
  float: right;
}

/*==================================================
  Post Contents CSS
  ==================================================*/

.post-content{
  background: #f8f8f8;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #f1f2f2;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.post-content img.post-image, video.post-video, .google-maps{
  width: 100%;
  height: auto;
}

.post-content .google-maps .map{
  height: 300px;
}

.post-content .post-container{
  // padding: 0px 10px 10px 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.post-content .post-container .post-detail{
  margin-left: 65px;
  margin-bottom: 15px;
  position: relative;
}

.post-content .post-container .post-detail .post-text{
  line-height: 24px;
  margin: 0;

}
.post-content .post-container .post-comment{
  line-height: 16px;
  margin-top: 8px;
  // margin: 0;
  display: block;
}
.post-content .post-container .post-comment h5{
  line-height: 28px;
}
.post-content .post-container .post-detail .reaction{
  position: absolute;
  right: 0;
  top: 0;
}

.post-content .post-container .post-detail .post-comment{
  display: inline-flex;
  margin: 10px auto;
  width: 100%;
}
.create-post .form-group img.profile-photo-sm{
  margin-right: 10px;
}
// .post-content .post-container .post-detail .post-comment img.profile-photo-sm{
//   margin-right: 10px;
// }

.post-content .post-container .post-detail .post-comment .form-control{
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin: 7px 0;
  min-width: 0;
}
.comment-box{
  padding-left: 5px;
}
.comment-avatar{
  padding-left: 12px;
  padding-right: 5px ;
}
.comment-content{
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 0px;
}
/*==================================================
  dropdown post
  ==================================================*/

.dropbtn {
  // background-color: #4CAF50;
  color: white;
  // padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  line-height: 26px;
}

.dropdown-content a {
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  // background-color: #3e8e41;
}
/*==================================================
  Edit Profile
  ==================================================*/

/* Edit Profile Menu */

ul.edit-menu{
  margin-top: 15px;
  padding: 0 20px;
}

ul.edit-menu li{
  list-style: none;
  border-bottom: 1px solid #f1f2f2;
  padding: 15px 0;
  position: relative;
}

ul.edit-menu li.active::before{
  content: "";
  background: #8dc63f;
  width: 2px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(-50%,-50%);
}

ul.edit-menu li i.icon{
  font-size: 16px;
}

ul.edit-menu li.active i.icon{
  color: #8dc63f;
}

ul.edit-menu li a{
  color: #6d6e71;
  margin-left: 20px;
}

ul.edit-menu li.active a{
  color: #8dc63f;
}

/* Edit Profile Contents */

.edit-profile-container h4 i{
  margin-right: 15px;
  color: #27aae1;
}

.edit-block{
  margin-bottom: 30px;
}

.edit-block .form-group{
  margin-bottom: 15px;
}

.edit-block select.form-control{
  background: rgba(0, 0, 0, 0) url(../images/down-arrow.png) no-repeat scroll calc(100% - 10px) center / 8px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.edit-block ul.interests{
  margin: 0;
  margin-bottom: 10px;
}

.edit-block ul.interests li{
  background: #8dc63f;
  color: #fff;
  padding: 5px 15px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 40px;
}

.edit-block ul.interests li a{
  color: #fff;
}

.edit-block ul.interests li a i.icon{
  font-size: 18px;
}

.edit-block .btn-primary{
  width: 100%;
}

.gender .custom-label{
  padding-left: 0;
}

/* Toggle Notification Switch */

.toggle-switch{
  text-align: right;
}

.toggle-switch .switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 9px;
}

.toggle-switch .switch input{
  display:none;
}

.toggle-switch .slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-switch .slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider{
  background-color: #8dc63f;
}

input:focus + .slider{
  box-shadow: 0 0 1px #8dc63f;
}

input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before{
  border-radius: 50%;
}


/*==================================================
  Media = Images and Videos CSS
  ==================================================*/

.media .media-grid{
  background: #f8f8f8;
  border: 1px solid #f1f2f2;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.media .media-grid img.post-image, video{
  width: 100%;
  cursor: pointer;
}

.media .media-grid .media-info{
  padding-left: 10px;
  padding-right: 10px;
}

.media .media-grid .media-info .reaction{
  padding: 10px 0;
  border-bottom: 1px solid #f1f2f2;
}

.media .media-grid .media-info .user-info{
  padding: 10px 0;
}

.media .media-grid .media-info .user-info .user{
  margin: -10px 0 0 50px;
}

.modal-content .post-content{
  margin: 0;
}



/*==================================================
  Site Footer
  ==================================================*/

#footer{
  background: #fff;
  position: relative;
}

// #footer::before{
//   content: "";
//   background: linear-gradient(to right, #ffffff 0%,#53cbf1 50%,#ffffff 100%);
//   height: 5px;
//   width: 100%;
//   position: absolute;
// }
//
// .footer-wrapper{
//   padding: 50px 0;
//   float: left;
//   width: 100%;
// }
//
// img.footer-logo{
//   margin-bottom: 20px;
// }
//
// ul.social-icons{
//   margin: 0;
// }
//
// ul.social-icons li{
//   background: transparent;
//   width: 30px;
//   height: 30px;
//   border: 1px solid #f1f2f2;
//   border-radius: 4px;
//   margin: 3px;
//   text-align: center;
// }
//
// ul.social-icons li a{
//   color: #6d6e71;
//   font-size: 15px;
//   line-height: 30px;
// }
//
// ul.social-icons li a:hover{
//   color: #27aae1;
//   transition: all 1s;
// }
//
// ul.footer-links li{
//   line-height: 25px;
// }
//
// ul.footer-links li a{
//   color: #6d6e71;
// }
//
// ul.footer-links li a:hover{
//   color: #27aae1;
// }
//
// ul.contact{
//   margin: 0;
//   padding: 0;
// }
//
// ul.contact li{
//   list-style: none;
//   padding: 15px 0;
//   border-bottom: 1px solid #f1f2f2;
//   font-size: 13px;
//   font-weight: 600;
//   line-height: 15px;
// }
//
// ul.contact li i{
//   font-size: 18px;
//   margin-right: 20px;
//   color: #27AAE1;
// }

.copyright{
  background: #231F20;
  text-align: center;
  color: #fff;
  padding: 12px 0 4px;
}


/*==================================================
  CSS for width 992px
  ==================================================*/

@media only screen and (max-width : 992px) {


  section h1.section-title{font-size: 175px; margin-bottom: -40px;}

  #features .feature-item{margin-bottom: 20px;}

  #features .item{margin-bottom: 20px;}

  .timeline #page-contents{margin-top: 185px !important;}

  ul.edit-menu{margin-top: 0; margin-bottom: 30px;}


}


/*==================================================
  CSS for width 768px
  ==================================================*/

@media only screen and (max-width : 768px) {

  .menu ul.main-menu li.dropdown ul.dropdown-menu li{background: #282425;}

  #header-inverse nav.menu .navbar-collapse{background: rgba(0,0,0, 0.9);}

  .sign-up-form{left: 0; right: 0; margin: auto;}

  section h1.section-title{font-size: 90px !important; margin-bottom: 0 !important;}

  #features .feature-item{margin-bottom: 20px;}

  #site-facts .circle{width: 100%; border-radius: 1000px;}

  .nearby-user{text-align: center;}

  .nearby-user button.btn-primary{float: none !important;}

  .post-content .post-container .post-detail .reaction{position: relative;}

  #footer .footer-wrapper ul{margin-bottom: 20px;}

  .contact-us .col-sm-7{margin-bottom: 20px !important;}

  .intro-texts{transform: translateY(0); margin-bottom: 80px; text-align: center;}

  .reg-form-container{padding: 30px !important; text-align: center;}

  .reg-form-container .reg-options::before{background: linear-gradient(to bottom, rgba(255,255,255, 0.2) , rgba(255,255,255, 0.05)); height: 50px; width: 70%; left: 0; right: 0; margin: auto; top: -50px; transform: translateX(0) translateY(0);border-radius: 6px 6px 0 0;}

  .reg-form-container .reg-options .nav-tabs{left: 50%; transform: translateY(0) translateX(-50%) rotate(0); top: -40px;}

  .reg-form-container .reg-options .nav-tabs li{margin: 0;}

  .reg-form-container .reg-options .nav-tabs li:after{right: 0;}

  .reg-form-container::before{content: none;}

  .reg-form-container::after{content: none;}

  .reg-form-container .nav-tabs > li > a{padding-left: 10px; padding-right: 10px; min-width: 50px;}

  .toggle-switch{text-align: left;}

  .toggle-switch .switch{margin-top: 0;}

}


/*==================================================
  CSS for width 480px
  ==================================================*/

@media only screen and (max-width : 480px) {

  .sign-up-form{left: 0; right: 0; margin: auto; width: 90%; overflow: hidden; border-radius: 0 0 4px 4px;}

  #app-download ul.app-btn li button{margin-bottom: 20px;}

  .post-contents .post-container .post-detail .reaction{position: relative;}

}


/*==================================================
  Slide Animations
  ==================================================*/

.slideUp, .slideDown {
  visibility: hidden;
}

.slideDown.appear{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.slideUp.appear{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*==================================================
  Scroll Down Arrow
  ==================================================*/

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 0;
  right: 0;
	margin: auto;
	bottom: -90px;
}

.arrows path {
	stroke: #27aae1;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s;
}


/*==================================================
  Preloader Animation CSS
  ==================================================*/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #27aae1;
  position: absolute;
  top: 48%;
  left: 48%;
  box-shadow: 0 0 8px rgba(0,0,0, .3);
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#spinner-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}
